.ActorProfile {
  display: flex;
  .photo {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }
  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
}
