.CommentWrite {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 10;
  width: 640px;
  overflow-x: hidden;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: white;

  .CommentWriteHeader {
    display: flex;
    border-bottom: 1px solid rgb(227, 227, 227);
    width: 100%;
    justify-content: space-between;
    padding: 14px 20px;

    .CloseBtn {
      cursor: pointer;
      z-index: 2;
      border: none;
      outline: none;
      color: rgb(255, 47, 110);
    }

    .MovieTitle {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      font-weight: 800;
    }

    .CommentBtn {
      vertical-align: middle;
      cursor: pointer;
      font-size: 17px;
      font-weight: 400;
      color: rgb(255, 47, 110);

      &[disabled] {
        cursor: default;
        color: #d3d3d3;

      }
    }
  }

  .CommentWriteDesc {
    padding: 0 20px;
    padding-top: 30px;
    width: 100%;

    textarea {
      height: auto;
      min-height: 460px;
      font-size: 17px;
      font-weight: 400;
      letter-spacing: -0.7px;
      line-height: 26px;
      width: 100%;
      resize: none;
      border: none;
      outline: none;
      overflow: auto;

      &::placeholder {
        color: #a0a0a0;
      }
    }
  }
}