@import "../Styles/common.scss";

* {
  list-style: none;
}

.user_data {
  width: 100%;
  height: 62px;
  background-color: #000000;
  color: #cbcbcc;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 163px;
  padding: 20px 0 38px 0;
  background-color: #1c1e20;
  display: flex;
  justify-content: center;
  color: #9b9b9d;
}

.footer_box {
  //   background-color: red;
  font-size: 13px;
  width: 1203px;
  display: flex;
}

.footer_box li {
  margint-left: 5px;
}
.policy_list {
  display: flex;
}

.cs_list {
  display: flex;
  padding-top: 20px;
}

.company_number {
  display: flex;
  padding-top: 10px;
}

.company_info {
  display: flex;
  padding-top: 20px;
}

.company_info_list {
  display: flex;
  padding-top: 10px;
}

.company_logo {
  display: flex;
  padding-top: 10px;
}

.sns_box {
  //   background-color: blue;
  width: 117px;
  height: 163px;
}
