@import "../../Styles/common.scss";

* {
  text-decoration: none;
}

.navbar_container {
  border-bottom: 1px solid #ebebeb;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  padding: 5px 38px;
}

.navbar_movie {
  margin: auto 0;
  color: #070707;
}

.navbar_log {
  margin: auto 0;
  width: 151px;
}

input {
  width: 254px;
  height: 23px;
  padding: 7px 10px 8px 36px;
  margin: auto 0;
  font-size: 14px;
  border: none;
  background-color: #f5f5f7;
}

.navbar_rating {
  font-size: 14px;
  margin: auto 0;
  color: #74747b;
}

.navbar_profile {
  width: 28px;
  height: 28px;
  margin: auto 0;
  padding-top: 10px;
}
