@import "../../Styles/common.scss";

$navtext: #74747a;

.Nav {
  margin: auto 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
  background-color: white;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
  .navbarBox {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    .navbarLeft {
      display: flex;
      .navbarLogo {
        width: 151px;
        margin-right: 20px;
      }
      .navbarMovie {
        text-decoration: none;
        font-size: 15px;
        display: block;
        width: 100%;
        margin: auto 0;
        color: #070707;
      }
    }
  }
  .navbarRight {
    display: flex;
    .searchIcon {
      position: absolute;
      font-size: 18px;
      margin: 17px 10px;
      color: #d5d4d8;
    }
    .search {
      width: 300px;
      height: 38px;
      padding: 7px 10px 8px 36px;
      margin: auto 0;
      margin-right: 30px;
      border-radius: 2px;
      font-size: 14px;
      color: $navtext;
      border: none;
      outline: none;
      background-color: #f5f5f7;
    }
    .navbarRating {
      text-decoration: none;
      font-size: 14px;
      margin: auto 0;
      margin-right: 30px;
      color: $navtext;
    }
    .userProfile {
      font-size: 30px;
      color: #d5d4d8;
      padding-top: 10px;
    }
  }
}
.Transpa {
  transition: all 0.2s;
  background: transparent;
  border-bottom: none;
  input {
    border: 1px solid #ebebeb;
    background: none;
  }
}

@mixin tablet {
  @media screen and (max-width: 750px) {
    @content;
  }
}

@include tablet {
  .Nav {
    display: none;
  }
}
.loginFrame {
  display: flex;
  align-items: center;
  margin-left: 24px;
  button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    color: rgb(116, 116, 123);
  }
}

.singUpFrame {
  display: flex;
  align-items: center;
  margin-left: 24px;
  button {
    cursor: pointer;
    border-radius: 6px;
    font-weight: 600;
    background: transparent;
    color: rgb(53, 53, 53);
    font-size: 14px;
    border: 1px solid rgba(116, 116, 123, 0.5);
    padding: 5px 14px 6px;
    outline: none;
  }
}
